.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 30px;
  color: var(--gray-color);
  line-height: 200%;
  font-size: var(--font-size);
  .wrapper{
    display: flex;
    flex-direction: column;
    .sub-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .content {
      display: flex;
      .content-left{
        width: 100px;
      }
      .content-right{
        flex: 1;
      }
    }
    .about-contact{
      margin-bottom: 30px;
    }
  }
}
