.navSide{
    z-index: 2;
    .navSide-sidebar{
        position: absolute;
        height: 100vh;
        width: 365px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .navSide-navbar{
        width: 100vw;
    }
    .children{
        min-height: calc(100vh - 200px);
        width: calc(100vw - 380px);
        position: absolute;
        top:200px;
        left: 300px;
        right: 0;
        @media screen and (max-width: 768px){
            width: calc(100vw - 38px);
            bottom: 0;
            left:19px;
            right: 19px;
        }
    }
    .footer{
        height: 10px;
        position: absolute;
        top: 95%;
    }

}