.language{
    display: flex;
    gap: 20px;
    color: var(--gray-color);
    font-size: var(--font-size);
    .lng-btn{
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
    .border{
        cursor: default;
    }
    
}