.contact {
  color: var(--gray-color);
  .title {
    font-size: 20px;
    color: var(--gray-color);

    margin-bottom: 10px;
  }
  .list {
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    cursor: default;
    &:hover{
        color: #000;
        
    }
  }
}
