.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  .topRight {
    position: absolute;
    top: 79px;
    right: 79px;
    @media screen and (max-width: 768px) {
      right: 19px;
    }
    z-index: 1;
    .lng {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .btn {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
}
