
.projects {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0 79px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    .left {
      width: 230px;
      @media screen and (max-width: 768px) {
        display: none;
      }
      ul {
        padding: 0;
        margin: 0;
        font-size: var(--font-size);
        color: var(--gray-color);
        li:first-child {
          padding-bottom: 50px;
          margin: 0;
        }
        li {
          list-style: none;
          padding: 6px 0;
          margin: 0;
          &.active {
            color: black;
          }
          div {
            display: inline-block;
            &:hover {
              color: var(--black-color);
              cursor: pointer;
            }
          }
        }
      }
    }
    .right {
      flex: 3;
      display: flex;

      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
