.sidebar {
  height: 100vh;
  display: flex;
  width: 365px;
  @media screen and (max-width: 768px) {
    width: 0;
    z-index: 1;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 79px;
    @media screen and (max-width: 768px) {
      padding: 79px 0px 30px 19px;
    }
    .center {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .bottom{
      height: 10%;
    }
  }
}
