.slider {
  display: flex;
  flex: 1;
  overflow: hidden;
  .content {
    flex: 1;
    position: relative;
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      &.active {
        opacity: 1;
        // transform: translateX(40px);
        // transition: transform 4s ease-in-out;
      }
      .slide__img {
        width: 110%;
        height: 110%;
        object-fit: cover;
      }
    }
  }
}
